@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

.nav{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center {
  display: flex;
  gap: 30px;
}

h1, h3{
  color: #ffffff;
}

h1{
  margin-left: 20px;
}

button{
  margin: 20px;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.main{
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  width: 100%;
  background-color: darkcyan;
}
